.App {
  text-align: center;
}


.signup-login-form {

  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ccc;
  margin: 0 auto;
}
label, input{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}
.signup-form,
.login-form {
  justify-content: center;
  align-items: center;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 20px;
}

.signup-form h2,
.login-form h2 {
  margin: 0;
  text-align: center;
}

.signup-form p,
.login-form p {
  display: flex;
  text-align: center;
  margin-top: 20px;
}

.signup-form button,
.login-form button {
  width: 14vh;
  height: 6vh;
  display: block;
  margin: 3px auto;
  transition: background-color 1s;

}
.signup-form button:hover,
.login-form button:hover{
  background-color: indianred;
  border: none;
}

input[type=text], input[type=password],
input[type=email]{
  width: 100%;
  padding: 12px;
  resize: vertical;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc; 
} 
input[type=text]:focus, input[type=password]:focus,
input[type=email]:focus{
  border: none;
  outline: none;
}


